## Ejercicios:

- Actualiza el json de personal, añadiendo un año más a la edad y experiencia de cada registro de personal.

In [1]:
import xml.etree.ElementTree as ET
import json 
import pandas as pd

In [2]:
with open('personal.json', 'r') as fichero: #Introducimos nombre de nuestro archivo json y 'r' porque lo vamos a leer 'read'.
    personal = json.load(fichero) #Igualamos el archivo cargado a una variable para tenerlo almacenado

In [3]:
type(personal)

dict

In [5]:
personal

{'workers': [{'nombre': 'Ana',
   'edad': 34,
   'experiencia': 5,
   'nivel': 'Senior',
   'salario': 50000,
   'mascota': 'gatos'},
  {'nombre': 'Eva',
   'edad': 37,
   'experiencia': 2,
   'nivel': 'Mid',
   'salario': 35000},
  {'nombre': 'Marta',
   'edad': 27,
   'experiencia': 1,
   'nivel': 'Junior',
   'salario': 25000},
  {'nombre': 'Paula',
   'edad': 30,
   'experiencia': 3,
   'nivel': 'Mid',
   'salario': 35000}]}

In [5]:
personal['workers']

[{'nombre': 'Ana',
  'edad': 34,
  'experiencia': 5,
  'nivel': 'Senior',
  'salario': 50000,
  'mascota': 'gatos'},
 {'nombre': 'Eva',
  'edad': 37,
  'experiencia': 2,
  'nivel': 'Mid',
  'salario': 35000},
 {'nombre': 'Marta',
  'edad': 27,
  'experiencia': 1,
  'nivel': 'Junior',
  'salario': 25000},
 {'nombre': 'Paula',
  'edad': 30,
  'experiencia': 3,
  'nivel': 'Mid',
  'salario': 35000}]

In [6]:
for person in personal['workers']:
     if 'edad' in person:
        person['edad'] += 1
        if 'experiencia' in person:
            person['experiencia'] += 1
            
print(personal)

{'workers': [{'nombre': 'Ana', 'edad': 35, 'experiencia': 6, 'nivel': 'Senior', 'salario': 50000, 'mascota': 'gatos'}, {'nombre': 'Eva', 'edad': 38, 'experiencia': 3, 'nivel': 'Mid', 'salario': 35000}, {'nombre': 'Marta', 'edad': 28, 'experiencia': 2, 'nivel': 'Junior', 'salario': 25000}, {'nombre': 'Paula', 'edad': 31, 'experiencia': 4, 'nivel': 'Mid', 'salario': 35000}]}

- Cambia el nivel en función de la experiencia: Junior = 1 año, Mid = 2 o 3 años, Senior más de 4 años.

In [7]:
for person in personal['workers']:
    if 'experiencia' in person and person['experiencia'] <= 1:
        person['nivel'] = 'Junior'
    elif 'experiencia' in person and 1 < person['experiencia'] <= 3:
        person['nivel'] = 'Mid'
    elif 'experiencia' in person and person['experiencia'] > 3:
        person['nivel'] = 'Senior'

print(personal)

{'workers': [{'nombre': 'Ana', 'edad': 35, 'experiencia': 6, 'nivel': 'Senior', 'salario': 50000, 'mascota': 'gatos'}, {'nombre': 'Eva', 'edad': 38, 'experiencia': 3, 'nivel': 'Mid', 'salario': 35000}, {'nombre': 'Marta', 'edad': 28, 'experiencia': 2, 'nivel': 'Mid', 'salario': 25000}, {'nombre': 'Paula', 'edad': 31, 'experiencia': 4, 'nivel': 'Senior', 'salario': 35000}]}

- Cambia el salario en base al nivel: Junior = 25.000, Mid = 35.000, Senior = 50.000

In [13]:
personal_lista = personal['workers']

for person in personal_lista:
    if 'nivel' in person and person['nivel'] == 'Junior':
        person['salario'] = 25000
    elif 'nivel' in person and person['nivel'] == 'Mid':
        person['salario'] = 35000
    elif 'nivel' in person and person['nivel'] == 'Senior':
        person['salario'] = 50000
        
personal_lista

[{'nombre': 'Ana',
  'edad': 35,
  'experiencia': 6,
  'nivel': 'Senior',
  'salario': 50000,
  'mascota': 'gatos'},
 {'nombre': 'Eva',
  'edad': 38,
  'experiencia': 3,
  'nivel': 'Mid',
  'salario': 35000},
 {'nombre': 'Marta',
  'edad': 28,
  'experiencia': 2,
  'nivel': 'Mid',
  'salario': 35000},
 {'nombre': 'Paula',
  'edad': 31,
  'experiencia': 4,
  'nivel': 'Senior',
  'salario': 50000}]

- Guarda el json con el nombre "personal_actualizado.json"

In [14]:
with open("personal_actualizado.json", "w") as fichero:
    json.dump(personal, fichero)

-  Abre el json con Pandas.

In [15]:
df_personal = pd.read_json("personal_actualizado.json")

In [16]:
df_personal.head()

                                             workers
0  {'nombre': 'Ana', 'edad': 35, 'experiencia': 6...
1  {'nombre': 'Eva', 'edad': 38, 'experiencia': 3...
2  {'nombre': 'Marta', 'edad': 28, 'experiencia':...
3  {'nombre': 'Paula', 'edad': 31, 'experiencia':...